[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Aurora Services Demo
Name[ru]=Aurora Services Demo
Exec=/usr/bin/com.example.aurora_services_demo
Icon=com.example.aurora_services_demo

[X-Application]
OrganizationName=com.example
ApplicationName=aurora_services_demo
